
/* add flexwrap on the project images and complete restof the checklists. */
@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: 'poppins', sans-serif;
scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#e9520d, #ddb814) ;
}



/*header css properties*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
/* logo tag */
header .logo
{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1em;
}

/* list tags */
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
 
{
    list-style: none;
    margin-left: 10px;
}

header ul li a {
    text-decoration: none;
    padding:6px 15px;
    color: #fff;
    border-radius: 1.5rem;
}

header ul li a:hover,
header ul li a:active{
    background-color: #fff;
    color: #e9520d;
}

/* images and animation */
.animation
{
position: relative;
width: 100%;
height: 100vh;
padding:100px;
display: flex;
justify-content: center;
align-items: center;
}

.animation::before{
    content: '';
    position: absolute;
    bottom: 0;
    width:100%;
    height:100px;
    background: linear-gradient(to top,#042525, transparent);
    z-index: 1000;
}

.animation img 
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.animation img#sun
{
    mix-blend-mode: screen;
}

.animation img#cloud2
{
z-index: 10;
}

#text
{
position: absolute;
color: #ddb814;
white-space: nowrap;
font-size: 7.5vw;
/* font-size: 1.5em; */
z-index: 80;
}

#butt{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: black;
    color: #fff;
    font-size: 1.5em;
    z-index: 50;
    transform: translateY(100px);

}

/*content section */
.Details{
    position: relative;
    padding: 100px;
    background: #042525;
}
.Details h2{
    font-size:3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.Details p{
    font-size: 1.0em;
    color: #fff;

}


.profile{
  max-width: 20%;
  float:right;
  border: solid white 0.5rem;
  border-radius: 0.5rem;
}

/* project gallery css */
 


/* .container {
  /* background: #042525;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */



.boxwindow{
  display: flex;
  flex-wrap: wrap;
  background: #13312b;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.image-item {
  width: 150px;
  height: 400px;
  background-image: url(/img2/Hobby.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.4s;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.image-item p {
  width: 150px;
  height: 400px;
  display: none;
}

.image-item:hover {
  width: 300px;
  height: 400px;
}
.image-item:hover h2 {
  position: absolute;
  bottom: 2px;
  left: 50%;
  opacity: 1;
  z-index: 2;
  transition: all 0.4s;
  transform: translate(-50%, -50%);
}
.image-item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  border-radius: 20px;
  transition: all 0.4s;
  background-image: linear-gradient(0deg, #e65b00, rgb(255 255 255 /0%));
}
  
.image-item:nth-child(1) {
  background-image: url(Hobby-page.jpg);
}
.image-item:nth-child(2) {
  background-image: url(Gallery.png);
}
.image-item:nth-child(3) {
  background-image: url(movie-data.png);
}
.image-item:nth-child(4) {
  background-image: url(Game.png);
}

h3 {
  opacity: 0;
  color: rgb(51, 143, 143);
  position: absolute;
  bottom: 2px;
  left: 50%;
  font-size: 1.1rem;
  transition: all 0.4s;
  font-family: sans-serif;
  transform: translate(-50%, -50%);
}

/* button */
button {
  padding: 10px 20px;
  border: 2px solid #16130d;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  color: #06295f;
  /* background-color: transparent; */
  transition: all 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}
button:hover {
  color: #656f8a;
  background-color: #161006;
}


/* module */
/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 200px;
  
}

/* The Close Button */
/* hobby button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Movie Data button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* portfolio button */

.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Game button */
.close4 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* adding note *
- change the max width of the header so it fit the mobile screen.



/* For screens smaller than 768px  for the images boxes*/

@media (max-width: 768px) {
  .image-item {
    width: 100%;
    /* height: 200px; */
  }

  .image-item:hover {
    width: 100%;
    height: 200px;
  }

  .image-item:hover::after {
    height: 60px;
  }

  .image-item p {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  button {
    margin-top: 1rem;
  }
}


  /* footer */
 
  footer {
    background-color: #333;
    color: #ffffff;
    padding: 25px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-section {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .subscribe p {
    margin-bottom: 10px;
  }

  .footer-section i {
   padding-left: 1rem;
   font-size: 2rem;
  }
  
  i:hover {
    color: #007bff;
  }

  .footer-bottom {
    border-top: 1px solid #777;
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
  }